.adventages {
	background: url(../../images/bg-2.png) $prime-1 no-repeat;
	background-size: cover;
	text-align: center;
}
.adventages h2 {
	color: #fff;
}
.adventages h6{
	@include text(15px,$font1-regular,#fff);
	margin-top: 40px;
	margin-bottom: 25px;
}
.adventages-artcl {
	margin-top: 50px;
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 30px;
}
.adventages-artcl article {
	background-color: #fff;
	// width: 360px;
	// height: 312px;
	padding: 35px 45px;
	filter: drop-shadow(0px 4px 10px rgba(202,202,202,0.25));
}
.adventages-artcl article div {
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}
.adventages-artcl article h5 {
	margin-bottom: 15px;
}
.sprite-icon1 {
	width: 86px;
	height: 89px;
	background-position: -5px -5px;
}
.sprite-icon2 {
	width: 86px;
	height: 88px;
	background-position: -5px -104px;
}
.sprite-icon3 {
	width: 86px;
	height: 88px;
	background-position: -5px -489px;
}
.adventages button {
	@include btn(280px,$pr-1-dark-1);
	margin-bottom: 40px;
}
@media screen and (max-width: 1170px) {
	.adventages-artcl article {
		width: 360px;
		height: 312px;
	}
} 
@media screen and (max-width: 1024px) {
	.adventages-artcl {
		grid-template-columns: repeat(2,1fr);
		grid-row-gap: 30px;
		justify-items: center;
	}
	.adventages-artcl article:last-of-type {
		justify-self: center;
		grid-column: span 2;
	}
}
@media screen and (max-width: 860px) {
	.adventages-artcl {
		grid-template-columns: repeat(2,1fr);
		grid-row-gap: 30px;
		justify-items: center;
	}
	.adventages-artcl article:last-of-type {
		justify-self: center;
		grid-column: span 2;
	}
}
@media screen and (max-width: 768px) {
	.adventages {
		padding: 0px;
	}
	.adventages-artcl {
		margin-left: -30px;
		grid-template-columns: repeat(2,1fr);
		grid-row-gap: 30px;
		justify-items: center;
	}
	.adventages-artcl article:last-of-type {
		justify-self: center;
		grid-column: span 2;
	}
}
@media screen and (max-width: 320px) {
	.adventages-artcl {
		margin-left: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 0px;
	}
	.adventages h2 {
		font-size: 24px;
	}
	.adventages-artcl article {
		width: 280px;
		height: 350px;
		margin-top: 10px;
	}
}